/*Imporamos para usar las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

/*Fuentes y colores*/

/*Selector universal*/

*{ background-color: darkslategrey;

}

#header{
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
}
nav {
    float: center;
}

nav ul {
    list-style: none;
    overflow: hidden; 
}


nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
}

nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #eca023;
}


/*para los subtitulos h2*/
.subtitulo {
    color: whitesmoke;
}

/*Como cambiar modelo de caja
#escudo{
    border: 12pt;
    padding: 1.1rem;
    margin-top: 10px;
    margin-left: 25%;
    margin-bottom: 2px;
    margin-right: 20%;
}*/

/*Como centrar elementos*/

header #escudo{
    text-align: center;
}

h1{
    text-align: center;
    color: white;
}

main{
    display: flex;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

#experienciaLaboral{
    width: 45%;
}

#habilidadesTecnicas{
    width: 45%;
}

#proyectos{
    width: 45%;
}

#Educacion{
    width: 99%;
}

#contactame{
    width: 99%;
}



    


    
        
    
