/*Imporamos para usar las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

/*Fuentes y colores*/

/*Selector universal*/
*{
    background-color: darkslategray;
}


nav ul {
    background: black;
    list-style: none;
    overflow: hidden;
    align-content: center;
    border-left-width: 0%;
    border-right-width: 0;
    margin-left: 0%;
    margin-right: 0%;
}


nav ul li {
    background: black;
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
}

nav ul li a {
    background: black;
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
}




/*para los subtitulos h2*/
.subtitulo {
    color: whitesmoke;
}

/*Como cambiar modelo de caja
#escudo{
    border: 12pt;
    padding: 1.1rem;
    margin-top: 10px;
    margin-left: 25%;
    margin-bottom: 2px;
    margin-right: 20%;
}*/

/*Como centrar elementos*/
header{
    text-align: center;
}


h1{
    text-align: center;
    color: white;
}

main{
    display: flex;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

#experienciaLaboral{
    width: 48%;
    text-align: center;
}

#habilidadesTecnicas{
    width: 48%;
    text-align: center;
}


#proyectos{
    width: 99%;
}

#Educacion{
    width: 99%;
}

#contactame{
    width: 99%;
}

footer{
    text-align: center;
}



    


    
        
    